<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498801321163-btkms0kfa3ju7e2ti2l5g9mdde50al69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498801321163-btkms0kfa3ju7e2ti2l5g9mdde50al69</string>
	<key>API_KEY</key>
	<string>AIzaSyCHMRAoHZ1YlthFEA3I2DSZlApglgMo2_0</string>
	<key>GCM_SENDER_ID</key>
	<string>498801321163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.future.InstagramApp</string>
	<key>PROJECT_ID</key>
	<string>instagram-a5c3a</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-a5c3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498801321163:ios:61ea90b03553f147bba74e</string>
</dict>
</plist>